node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
.env.test
.env.local
coverage/
.nyc_output/
*.log
*.tgz
.DS_Store
*.png
*.jpg
*.webp
*.pdf
test_output/
